<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>admin</username>
      <password>bat@123</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>bat@123</password>
      <id>snapshots</id>
    </server>
  </servers>
  <distributionManagement>
    <repository>
        <id>central</id>
        <name>mil-poc-devOps.BAT.cloud-releases</name>
        <url>http://159.122.149.247:8081/artifactory/libs-release</url>
    </repository>
    <snapshotRepository>
        <id>snapshots</id>
        <name>mil-poc-devOps.BAT.cloud-releases</name>
        <url>http://159.122.149.247:8081/artifactory/libs-release</url>
    </snapshotRepository>
</distributionManagement>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://159.122.149.247:9000/sonar</sonar.host.url>
                <sonar.jacoco.reportPaths>target/jacoco.exec</sonar.jacoco.reportPaths>
                <sonar.java.binaries>target/classes</sonar.java.binaries>
                <sonar.sources>src</sonar.sources>
                <sonar.projectKey>master</sonar.projectKey>
            </properties>
        </profile>
</profiles>
</settings>
